<header class="main-header">
    <nav class="main-header_nav">
        <ul class = "main-header_itemlist">
            <li class="main-header_items" class ="<%= path ==='/'?'active':''%>"><a href="/" >Shop</a></li>
            <li class="main-header_items" class ="<%= path ==='/admin/add-product'?'active':''%>"><a href="/"><a href="/admin/add-product" class ="active">Add Products</a></li>
        </ul>
    </nav>
    </header>