<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="404.css">
    </head>
    <body>
    <header class="main-header">
    <nav class="main-header_nav">
        <ul class = "main-header_itemlist">
            <li class="main-header_items"><a href="/" >Shop</a></li>
            <li class="main-header_items"><a href="/admin/add-product" class ="active">Add Products</a></li>
        </ul>
    </nav>
    </header>
    <h1>Page not found Biatch!!</h1>
</body>
</html>