extends layouts/main-layout 
block style 
    link(rel="stylesheet", href="shop.css")
block content 
    main
            .grid 
                each product in prods
                    article.card.product-item 
                        header.card__header  
                            h1.product_title Great Book
                        div.card_image
                            img(src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975i/2767052._UY475_SS475_.jpg", alt="A Book")
                        div.card__content  
                            h2.product__price $19.89
                            p.product__description A very intresting book to study tbh! 
                        .card__action 
                            button.btn Add to cart